### NAME:MARTIN NIYENNU
### ID:10964861
### DEPARTMENT:MTEN

In [ ]:
import pandas as pd

In [ ]:
import ydata_profiling as ydp

In [ ]:
dataset=pd.read_csv('data.csv')

In [ ]:
dataset.columns = dataset.columns.str.replace(" ",'_')

In [ ]:
dataset

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,NaN,0.65,9.8,5.0
3,4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,1597,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,1598,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,1599,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,1600,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0
1600,1601,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6.0

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed_acidity         1600 non-null   float64
 2   volatile_acidity      1601 non-null   float64
 3   citric_acid           1600 non-null   float64
 4   residual_sugar        1601 non-null   float64
 5   chlorides             1598 non-null   float64
 6   free_sulfur_dioxide   1600 non-null   float64
 7   total_sulfur_dioxide  1600 non-null   float64
 8   density               1600 non-null   float64
 9   pH                    1600 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1600 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 162.7 KB

In [ ]:
dataset.isnull()

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596,False,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False,False
1599,False,False,False,False,False,False,False,False,False,False,False,False,False
1600,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
dataset.isnull().head(20)

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
dataset.describe

<bound method NDFrame.describe of         ID  fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
0        1            7.4             0.700         0.00             1.9
1        2            7.8             0.880         0.00             2.6
2        3            7.8             0.760         0.04             2.3
3        4           11.2             0.280         0.56             1.9
4        5            7.4             0.700         0.00             1.9
...    ...            ...               ...          ...             ...
1596  1597            5.9             0.550         0.10             2.2
1597  1598            6.3             0.510         0.13             2.3
1598  1599            5.9             0.645         0.12             2.0
1599  1600            6.0             0.310         0.47             3.6
1600  1601            7.2             0.390         0.44             2.6

      chlorides  free_sulfur_dioxide  total_sulfur_dioxide  density    pH  \
0         0.076                 11.0                  34.0  0.99780  3.51
1         0.098                 25.0                  67.0  0.99680  3.20
2         0.092                 15.0                  54.0  0.99700   NaN
3         0.075                 17.0                  60.0  0.99800  3.16
4         0.076                 11.0                  34.0  0.99780  3.51
...         ...                  ...                   ...      ...   ...
1596      0.062                 39.0                  51.0  0.99512  3.52
1597      0.076                 29.0                  40.0  0.99574  3.42
1598      0.075                 32.0                  44.0  0.99547  3.57
1599      0.067                 18.0                  42.0  0.99549  3.39
1600      0.066                 22.0                  48.0  0.99494  3.30

      sulphates  alcohol  quality
0          0.56      9.4      5.0
1          0.68      9.8      5.0
2          0.65      9.8      5.0
3          0.58      9.8      6.0
4          0.56      9.4      5.0
...         ...      ...      ...
1596       0.76     11.2      6.0
1597       0.75     11.0      6.0
1598       0.71     10.2      5.0
1599       0.66     11.0      6.0
1600       0.84     11.5      6.0

[1601 rows x 13 columns]>

In [ ]:
datasetMean=dataset.mean()

In [ ]:
dataset.mean()

ID                      801.000000
fixed_acidity             8.319875
volatile_acidity          0.527742
citric_acid               0.271175
residual_sugar            2.538445
chlorides                 0.087487
free_sulfur_dioxide      15.886875
total_sulfur_dioxide     46.520000
density                   0.996746
pH                        3.311106
sulphates                 0.658220
alcohol                  10.423204
quality                   5.636250
dtype: float64

In [ ]:
dataset = dataset.fillna(datasetMean).drop_duplicates()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1601 entries, 0 to 1600
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1601 non-null   int64
 1   fixed_acidity         1601 non-null   float64
 2   volatile_acidity      1601 non-null   float64
 3   citric_acid           1601 non-null   float64
 4   residual_sugar        1601 non-null   float64
 5   chlorides             1601 non-null   float64
 6   free_sulfur_dioxide   1601 non-null   float64
 7   total_sulfur_dioxide  1601 non-null   float64
 8   density               1601 non-null   float64
 9   pH                    1601 non-null   float64
 10  sulphates             1601 non-null   float64
 11  alcohol               1601 non-null   float64
 12  quality               1601 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 175.1 KB

In [ ]:
graphData = ydp.ProfileReport(dataset)

In [ ]:
graphData

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]